<tr class="campaign">
  <td class="action">
    {{view "select" content=availableActions value=campaign.action class="form-control"}}
  </td>
  <td class="target">
    {{input type="text" placeholder="Target..." value=campaign.content.target disabled=campaign.isTargetDisabled}}
  </td>
  <td class="likes">
    {{input type="number" placeholder="Number of likes..." value=campaign.likes}}
  </td>
  <td class="created-at">{{campaign.createdAgo}}</td>
  <td class="updated-at">{{campaign.updatedAgo}}</td>
  <td class="actions">
    <span {{bind-attr class=":glyphicon :glyphicon-floppy-disk :save-campaign campaign.canBeSaved:active"}} {{action "saveCampaign"}}></span>
    <span {{bind-attr class=":glyphicon :glyphicon-trash :delete-campaign campaign.canBeDeleted:active"}} {{action "deleteCampaign"}}></span>
  </td>
</tr>
<tr {{bind-attr class=":map campaign.isGeolocation:visible"}}>
  <td colspan="6">
    {{#if campaign.validCoords}}
      {{view "map" latitude=campaign.latitude longitude=campaign.longitude}}
    {{else}}
      Loading map...
    {{/if}}
  </td>
</tr>